body {
  padding-top: 100px;
}

.container.header {
  color: white;
  font-family: helvetica, sans-serif;
}

.emphasize, h4 {
  color: #00b3b4;
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

#entername {
  font-weight: bold;
  color: red;
}

.outcome {
  padding: 10px 5px;
  font-size: 1.5em;
}

.imgs > * {
  display: none;
  margin: 0px 5px 10px 0px;
}
